<div class="container mt-3 text-center">
<div class="clard-group">
    {{#each xephinh}}
    <div class="row">
        <div.class="col-md-3">
            <div class = "card"
            <img src=""{{image}}
            width="150" height="150">
            <br>
            {{name}}</div>
        </div>
    </div>

    {{/each}}
</div>
</div>